@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

html, body {
    height: 100vh;
    width: 100vw;
}

body {
    position: relative;
    background: black url('../pacote-d013/imagens/fundo-madeira.jpg') center center no-repeat fixed;
    background-size: cover;
}

img, iframe {
    position: absolute;
    margin-left: 50vw;
    margin-top: 50vh;
    transform: translate(-50%, -50%);
}

iframe {
    height: 476px;
    width: 270px;
}

.apps {
    position: absolute;
    transform: translate(-50%, -50%);
    margin-left: 90vw;
    margin-top: 10vh;
    border-radius: 50%;
    width: 50px;
    overflow-y: hidden;
    overflow-x: hidden;
    
}

.apps:hover {
    transition: 0.6s;
    width: 55px;
    border: 1px solid white;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.508);
}

.apps:hover {
    transition: 0.8s;
    border: 1.6px solid white;
}

#github {
    margin-top: 20vh;
}

#insta {
    margin-top: 30vh;
}

#facebook {
    margin-top: 40vh;
}

#youtube {
    margin-top: 50vh;
}